@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

 header{
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    position:absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    overflow: hidden;
    background: black;
    z-index:2;
}
    header .btndiv {

       margin-top:20px;
        
    }
.btndiv button {
    -webkit-appearance: button;
    position:relative;
    outline: 0;
    border: 0;
    background-color: black;
    padding: 10px 15px;
    color: white;
    height: 50%;
    border-radius: 3px;
    width: 25%;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
        .header button:hover {
            color: black;
            background-color: white;
        }


.footer {
    box-sizing: border-box;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background: black;
}


.panel {
    position: relative;
    align-content:center;
    align-self:center;
    margin-top: 0%;
    left: 0%;
    width: 80%;
    height: 50%;
    overflow: hidden;
}
